html, body {
  margin: 0;
  height: 100%;
  background-color: #101020; /* Full window background color */
  overflow: hidden; /* Prevent scrollbars */
}

.network-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.graph-section {
  flex: 2; /* Take up more space for the graph */
}

.bar-chart-section {
  flex: 1; /* Take up less space for the bar chart */
  width: 70%; /* Align the width with the graph */
  color: white; /* Text color */
}

.header-section {
  text-align: Left;
  width: 70%;
  color: white;
  /* padding-bottom: 100px; */
  padding: 20px;
}

.site-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
}